<hr>
<h2>You are booked at {{studio.name}}!</h2>
<h3>Time: {{time}}</h3>
    <ul>
        <li>{{studio.address}}</li>
        <li>{{studio.phoneNumber}}</li>
        <li>{{studio.email}}</li>
    </ul>

<br>
<hr>
    <footer id="footer">
    <a href="/"><h4>Back Home</h4></a>
    <a href="/studio/all-reviews"><h4>See Reviews<h4></a>
   </footer>