<html>
<body>

    <head>
        <h1>Studios In Miami</h1>
<hr>
        <div class="grid">
            {{#each studio}}
        <div>
            <div class="images">
            <a href="/studio/views/{{this._id}}"><h3>{{this.name}}</h3>
            <img src="{{this.image}}" alt="studio pic"></a>
            </div>
            <ul>
                {{#each schedule}}
            <form method="post" action="/studio/views/book-time/{{../this._id}}/{{this}}">
            <li>{{@key}}
            <button type="submit">{{this}}</button>
            </li>
            </form>
                {{/each}}
            <li>{{this.address}}</li>
            <li>{{this.cost}}</li>
            <li>{{this.phoneNumber}}</li>
            <li>{{this.email}}</li>
            <li><a href="/studio/review/{{this._id}}">Leave a Review</a></li>
            </ul>
        </div>
            {{/each}}
        </div>
    </head>
<br>
<hr>
    <footer id="footer">
    <a href="/"><h4>Back Home</h4></a>
    <a href="/studio/all-reviews"><h4>See Reviews<h4></a>
   </footer>
    
</body>
</html>
