<html>
<body>

    <head>
        <h1>Studios In Miami</h1>
<hr>
        <div class="grid">
            {{#each studio}}
        <div>
            <a href="/studio/views/{{this._id}}"><h3>{{this.name}}</h3></a>
            <img src="{{this.image}}" alt="studio pic">
            <ul>
                {{#each schedule}}
            <form method="post" action="/studio/views/book-time/{{../this._id}}/{{this}}">
            <li>{{@key}}
            <button type="submit">{{this}}</button>
            </li>
            </form>
                {{/each}}
            <li>{{this.address}}</li>
            <li>{{this.cost}}</li>
            <li>{{this.phoneNumber}}</li>
            <li>{{this.email}}</li>
            </ul>
            <a href="/studio/review/{{this._id}}">Leave a Review</a>
        </div>
            {{/each}}
        </div>
    </head>
    
<a href="/"><h4>Back Home</h4></a>
    
</body>
</html>
