<head>
    <h1>Studios In Miami</h1>

        {{#each studio}}
            <li>{{this.name}}</li>
            <li>{{this.image}}</li>
        <ul>
            <li>{{this.address}}</li>
            <li>{{this.cost}}</li>
            <li>{{this.availability}}</li>
            <li>{{this.phoneNumber}}</li>
            <li>{{this.email}}</li>
            <li>{{this.addOns}}</li>
        </ul>
        {{/each}}
</head>

