<h2>Studios In Miami</h2>

{{#each studio}}
<ol>
    <li>{{this.name}}</li>
    <li>{{this.address}}</li>
    <li>{{this.cost}}</li>
    <li>{{this.availability}}</li>
    <li>{{this.phoneNumber}}</li>
    <li>{{this.email}}</li>
    <li>{{this.addOns}}</li>
</ol>
{{/each}}

